* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

header {
    background-color: #dddddd;
    color: #fff;
    padding: 20px;
    text-align: center;
    height: 100px;
}

footer {
    display: flex;
    background-color: #dddddd;
    color: #fff;
    padding: 20px;
    text-align: center;
    align-self:flex-end;
    z-index: 1;
    height: 100px;

}

.content {
    display: flex;
    flex-direction: row;
    z-index: 0;
    height: 600px;
}

.content-right {
    width: 75%;
    background-color: red;
    padding: 20px;
    text-align: left;
}

.content-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
    background-color: yellow;
    padding: 20px;
}